.goBack {
  padding: 5px 10px;
  border: 1px solid #1f7400;
  border-radius: 5px;
  width: 100px;
  text-align: center;

  transition: border 0.25s;
}

.goBack:hover {
  border: 1px solid #42e900bf;
}
