.searchTitle {
  padding: 10px;
}

.searchImg {
  max-width: 250px;
  max-height: 350px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border-bottom: 1px solid #1f7400;
}
