.movieImg {
  margin: 0 auto;
  border-radius: 5px;
}

.movieTitle {
  margin-bottom: 25px;
  margin-top: 10px;
}

.movieText {
  margin-bottom: 10px;
}

.movieGenresList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.movieGenresItem {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.movieOverview {
  margin-top: 25px;
}

@media screen and (min-width: 600px) {
  .movieImg {
    float: left;
    margin-right: 20px;
  }
}
