.cast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.castList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 30px;
}

.castItem {
  max-width: 150px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  min-height: 150px;
}
